{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">DJANGO APP</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima amet praesentium perferendis ab quasi autem deserunt
            non dolorum optio magnam porro, veniam sed, ullam corrupti. Ducimus suscipit aliquam delectus possimus laborum, et
            culpa harum. Sequi mollitia sed, iusto deserunt ab quis voluptates dicta amet deleniti quos repudiandae iure ea
            ullam fugit obcaecati nam ad? Ea iste maxime voluptas dolore ex, excepturi, aliquid saepe quos fugit assumenda
            expedita aperiam placeat error illo illum quidem nostrum eius odio ad ipsa eos, eligendi consequuntur ratione? Quas,
            incidunt maiores! Maxime nemo excepturi provident sapiente eligendi, reiciendis modi molestiae eius blanditiis
            consequatur optio laborum unde!
        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signout
            </a>
        </div>
    
    </section>
</main>
{% endblock %}